<html>
	<head>
		<link rel="stylesheet" href="/films.css">
	</head>
	<body>
		<h1>Films</h1>
		<ul>
			{{#each films}}
				<li>
					{{#with this}}
						<p>{{title}}</p>
						<p>{{year}}</p>
						<p>{{director.name}}</p>
					{{/with}}
				</li>
			{{/each}}
		</ul>
	</body>
</html>